twitch.py >= 3.2.10
python-socketio[client,asyncio_client] == 4.6.1
tdvutil
pytz
toml



# debugging and such
mypy
types-toml
types-pytz

# our standard flake8 bits (...maybe we need a metapackage)
flake8-async
flake8-bugbear
flake8-builtins
flake8-comprehensions
flake8-import-conventions
flake8-pyproject
flake8-secure-coding-standard
flake8_simplify
flake8-use-pathlib
