twitchAPI
twitch.py   # might use this instead
tdvutil
pytz
toml



# debugging and such
mypy
types-toml
types-pytz

# our standard flake8 bits (...maybe we need a metapackage)
flake8-async
flake8-bugbear
flake8-builtins
flake8-comprehensions
flake8-import-conventions
Flake8-pyproject
flake8-secure-coding-standard
flake8_simplify
flake8-use-pathlib
